* {
  padding: 0px;
  margin: 0px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
* .hide {
  display: none;
}
* .show {
  display: flex;
}
* *::-webkit-scrollbar {
  display: none;
}
* .diminuir {
  animation: diminuir 1s linear;
  display: none;
}
* .crescer {
  animation: crescer 0.5s linear;
  display: flex;
}
@keyframes crescer {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}
@keyframes diminuir {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

.btn_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
  background: rgb(136, 157, 174);
  padding: 5px;
  margin-right: 20px;
}
.btn_header .tresp {
  background: rgb(248, 248, 248);
  height: 5px;
  width: 90%;
}

.ponta {
  position: fixed;
  top: 20px; /* Add this line to position the header at the top */
  right: 10px;
  margin: 0px; /* Add this line to position the header at the left */
}

#app {
  color: white;
  background: #aee0e3;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.pagetabela {
  background: #aee0e3;
  color: black;
  padding-top: 10px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
.pagetabela .input_adicionar {
  font-size: 25px;
  width: 90%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.pagetabela .input_adicionar .inpute {
  height: 20%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
.pagetabela .input_adicionar .buttonadd {
  background: rgb(8, 3, 3);
  color: white;
}
.pagetabela .tabelas {
  margin-top: 20px;
  width: 100%;
  border-radius: 0px 10px 0px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.pagetabela .tabelas th,
.pagetabela .tabelas td {
  border-radius: 0px 10px 0px 10px;
  padding: 10px 0px 10px 0px;
  font-size: 12px;
}
.pagetabela .tabelas .tpedido {
  min-width: 100px;
}
.pagetabela .tabelas .pedido {
  background: #3221ec;
}
.pagetabela .tabelas .resultado {
  background: #02cb27;
  color: rgb(255, 255, 255);
}
.pagetabela .tabelas .categoria-row {
  background: #09c391;
}

#itens {
  background: #aee0e3;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
#itens .class_produto {
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 30px;
}
#itens .class_produto .produto {
  margin-top: 10px;
  padding-top: 20px;
  width: 45vw;
  height: 250px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.333);
  color: black;
}
#itens .class_produto .produto img {
  width: 98%;
  height: 80%;
}
#itens .class_categoria {
  font-size: 30px;
}

#menu {
  background: #aee0e3;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#menu .btn_menu {
  background: rgb(93, 161, 225);
  color: black;
  border: none;
  width: 45%;
  height: 50px;
  border-radius: 10px;
}

#logo {
  background: #96eef2;
  font-size: 40px;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}
#logo #ikeda_nome {
  width: 90%;
  text-align: center;
}
#logo #imagem_logo img {
  display: block;
  max-width: 80px;
  border-radius: 5px;
}

#validades {
  background: #aee0e3;
  color: black;
  padding-top: 10px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
#validades .input_adicionar {
  font-size: 25px;
  width: 90%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
}
#validades .input_adicionar .inpute {
  height: 20%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  text-align: center;
}
#validades .input_adicionar #buttonadd {
  background: rgb(8, 3, 3);
  color: white;
}
#validades #tabela {
  margin-top: 20px;
  width: 100%;
  border-radius: 0px 10px 0px 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}
#validades #tabela th,
#validades #tabela td {
  border-radius: 0px 10px 0px 10px;
  padding: 10px 0px 10px 0px;
  font-size: 12px;
}
#validades #tabela .tpedido {
  min-width: 100px;
}
#validades #tabela .pedido {
  background: #3221ec;
}
#validades #tabela .resultado {
  background: #02cb27;
  color: rgb(255, 255, 255);
}
#validades #tabela .categoria-row {
  background: #09c391;
}

#dashboard {
  height: 100vh;
  width: 100vw;
}

#camera {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
#camera .camera-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}
#camera video {
  width: 100%;
  height: auto;
  max-width: 600px;
  border: 3px solid white;
  border-radius: 10px;
}
#camera .photo-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#camera .photo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
#camera .capture-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background-color: limegreen;
  color: white;
  cursor: pointer;
}
#camera .open-camera {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */