* {
    padding: 0px;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }

}

#abastecimento::-webkit-scrollbar {
    display: none;
}

#app {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#app {
    #itens {
        background: #808080;
        height: 100%;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
        align-items: center;

        .produto {
            margin-top: 20px;
            width: 45%;
            height: 30%;
            border-radius: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: black;
            justify-content: space-around;

            img {
                width: 50%;
                height: 50%;
            }

        }
    }

    #abastecimento {
        background: #aee0e3;
        color: black;
        padding-top: 10px;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;


        font-size: 15px;
        #input_adicionar {
            font-size: 25px;

            width: 98%;
            min-height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            gap: 5px;

            #qtdlabel,
            #abastecer_item,
            #quantidade_abastecer,
            #unabastecer,
            #buttonadd {
            height: 20%; 
            width: 100%;
            text-align: center;
            border-radius: 10px;
            }

           

            #buttonadd {
            background: rgb(8, 3, 3);
            color: white;
            }
        }


        #tabela {
            margin-top: 20px;
            width: 100%;
            border-radius: 0px 10px 0px 10px;
            text-align: center;
            color: rgb(255, 255, 255);


            th,
            td {
                border-radius: 0px 10px 0px 10px;
                font-size: 15px;
                padding: 10px 0px 10px 0px;



            }

            .pedido {
                background: #3221ec;
            }

            .resultado {
                background: #02cb27;
                color: rgb(255, 255, 255);
            }

            .categoria-row {
                background: #09c391;
            }



        }





    }




}